* {
    font-family: "Montserrat", sans-serif;
    color: #f5f5f5;
}

body {
    background-color: #2d3748;
    width: 100%;
    margin: 0;
    padding: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#body1 {
    background-image: linear-gradient(rgba(45, 55, 72, 0.8), rgba(45, 55, 72, 0.8)), url("https://i.imgur.com/2xQUt6D.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.portrait {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #2d3748;
    box-shadow: 0 10px 25px rgba(2,2,2,.2);
}

.navbar {
    padding: 10px 0;
}

.logo {
    height: 60px;
    width: 60px;
    object-fit: contain;
    padding: 2px;
}

.btnInfo {
    font-size: 0.8125rem;
    margin-bottom: 1rem;
    max-width: 300px;
    box-shadow: 0 10px 25px rgba(2,2,2,0.2);
}

.btnInfo .btn {
    background-color: #2d3748;
    font-weight: bold;
    padding: 15px;
}

.btnInfo:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}

.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#profile {
    height: 325px;
    width: 250px;
    object-fit: cover;
    border-radius: 15px;
    padding: 0.1rem;
}

#id-profile {
    background-color: #fff;
    padding: 3rem;
    border-radius: 20px;

    display: inline-block;
    max-width: 800px;
    width: 90%;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

#landing {
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#top-navbar {
    height: auto;
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#foot {
    height: auto;
    position:relative;
    display: flex;
    background-color: #fff;
    z-index: 1000;
}
